// _global.scss

body {
    line-height: 1.6;
    color: $text-color;
    background-color: $background-color;
    background: url('./../assets/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    // background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;


}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: darken($primary-color, 15%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
    font-weight: bold;
}