// _variables.scss

// General Colors
$primary-color: #0054FF;
$secondary-color: #FFFFFF;
$text-color: #FFFFFF;
$background-color: #000000;

// Button Colors (Generic names)
$btn-primary-bg: linear-gradient(93.03deg, #FF002C -9.71%, #7B0318 115.27%); // Exemplo de cor padrão para o botão principal
$btn-primary-hover-bg: linear-gradient(93.03deg, #7B0318 115.27%, #FF002C -9.71%); // Efeito de hover para o botão principal
$btn-base-color: #FF002C;

// Fonts
$font-family-primary: "Exo", serif;
$font-size-base: 16px;

// Spacing
$spacing-unit: 8px;